---
import homeIcon from '../images/home.png'
import searchIcon from '../images/search.png'
import createIcon from '../images/create.png'
import likeIcon from '../images/like.png'
import userIcon from '../images/user.png'
---

<div class="relative flex justify-center">
  <div
    class="w-full bg-[#101010] fixed bottom-0 flex justify-evenly sm:static sm:flex sm:justify-center sm:gap-2"
  >
    <li
      class="p-2 px-2 transition sm:px-8 sm:py-4 duration-300 ease-in-out hover:bg-[#1C1C1C] rounded-lg"
    >
      <a href="/"><img src={homeIcon.src} alt="" class="w-8" /></a>
    </li>
    <li
      class="p-2 px-2 transition sm:px-8 sm:py-4 duration-300 ease-in-out hover:bg-[#1C1C1C] rounded-lg"
    >
      <a href="/search"><img src={searchIcon.src} alt="" class="w-8" /></a>
    </li>
    <li
      class="p-2 px-2 transition sm:px-8 sm:py-4 duration-300 ease-in-out hover:bg-[#1C1C1C] rounded-lg"
    >
      <a href="/"><img src={createIcon.src} alt="" class="w-8" /></a>
    </li>
    <li
      class="p-2 px-2 transition sm:px-8 sm:py-4 duration-300 ease-in-out hover:bg-[#1C1C1C] rounded-lg"
    >
      <a href="/activity"><img src={likeIcon.src} alt="" class="w-8" /></a>
    </li>
    <li
      class="p-2 px-2 transition sm:px-8 sm:py-4 duration-300 ease-in-out hover:bg-[#1C1C1C] rounded-lg"
    >
      <a href="profile"><img src={userIcon.src} alt="" class="w-8" /></a>
    </li>
  </div>
</div>
